<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Map App</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<style>
    header{
        background-color: black;
        display: flex;
        justify-content: center;
    }
    nav{
        display: flex;
    }
    ul li {
        list-style: none;
        justify-content: space-between;
    }
    ul li a {
        color: white;
        text-decoration: none;
    }
</style>
<body>
    <header>
        <nav>
            <ul><li><a href="/">Home</a></li></ul>
            <ul><li><a href="/weather">Weather API</a></li></ul>
            <ul><li><a href="/news">News API</a></li></ul>
            <ul><li><a href="/currency">Currency API</a></li></ul>
            <ul><li><a href="/history">History</a></li></ul>
            <ul><li><a href="/profile">Profile</a></li></ul>
            <ul><li><a href="/logout">Log out</a></li></ul>
        </nav>
    </header>
    <!-- 
    <nav class="top-nav">
        <a href="/" id="home-link">Home</a>
        <a href="/weather" id="weather-link">Weather API</a> 
        <a href="/news" id="news-link">News API</a>
        <a href="/currency" id="currency-link">Currency API</a>
        <a href="/history" id="history-link">History</a>
        <a href="/profile" id="profile-link">Profile</a>
        <a href="/logout" id="logout-link">Log out</a>
    </nav> -->

    <h1>Welcome to Home page!</h1>
    <footer>
        <p>Alisher Khairullin SE-2207.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
</body>
</html>
